.exchange-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.exchange-wrapper img {
    height: 30px;
}

.exchange-wrapper span {
    color: #01082c;
}

.exchange-element {
    display: flex;
    align-items: center;
}